:host {
    background-color: #111111;
    color: #FFFFFF;
    height: 100%;
}

empty {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #444444;
    padding-top: 40px;
}

rounds > empty {
    padding: 15px;
    font-size: 14px;
}

name {
    padding: 10px;
    font-size: 20px;
    color: #FFFFFF;
    pointer-events: none;
}

name.editable:before {
    font-family: fontawesome;
    content: '\f044';
    float: right;
}

name.editable.editing:before {
    display: none;
}

name.editing {
    background-color: #FFFFFF;
    color: #000000;
}

name.editable {
    pointer-events: all;
    cursor: pointer;
}

name.editable:hover {
    color: #DDDDDD
}

name.editable:active {
    color: #AAAAAA
}

name.editing {
    cursor: auto;
    outline: none;
}

name.editing:hover {
    color: #000000;
}

name.editing:active {
    color: #000000;
}

session {
    display: flex;
    flex-direction: column;
    height: 100%;
}

rounds {
    display: block;
    padding: 5px;
    background-color: #222222;
}

list-item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #FFFFFF;
}

list-item:hover {
    background-color: #DDDDDD;
}

list-item.selected {
    border: 2px solid #e242d9;
    pointer-events: none;
    background-color: #ffe5fe;
}

list-item:not(:first-child) {
    margin-top: 2px;
}

list-item.sketch:before {
    font-family: fontawesome;
    content: '\f303';
    margin-right: 5px;
}

list-item.rest:before {
    font-family: fontawesome;
    content: '\f4b8';
    margin-right: 5px;
}

list-item > duration {
    flex-grow: 1;
    color: #e242d9;
}

list-item > count {
    flex-basis: 40px;
}

list-item > count:after {
    content: 'x';
    font-size: 12px;
}

list-item > time {
    color: #AAAAAA
}

selectFolder {
    display: block;
    padding: 10px;
    font-size: 12px;
    background-color: #666666;
    cursor: pointer;
    margin: 5px;
    border-radius: 2px;
    word-wrap: break-word;
    border: 2px solid #666666;
}

selectFolder:before {
    content: '\f07c';
    font-family: fontawesome;
    margin-right: 5px;
}

selectFolder:hover {
    background-color: #888888;
}

selectFolder:active {
    background-color: #444444;
}

selectFolder.hilite {
    background-color: #51873e;
    border-color: #51873e;
}

selectFolder.hilite:hover {
    background-color: #70a45d;
}

selectFolder.hilite:active {
    background-color: #4c6f3f;
}

length {
    text-align: center;
    padding: 20px;
    font-size: 26px;
    color: #54cdff;
}

length > label {
    color: #444444;
}

start {
    padding: 10px;
    text-align: center;
    font-size: 22px;
    margin: 5px;
    background-color: #51873e;
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid #51873e;
}

start:hover {
    background-color: #70a45d;
}

start:active {
    background-color: #4c6f3f;
}

start.disabled {
    pointer-events: none;
    background-color: #888888;
    color: #AAAAAA;
    border-color: #888888;
}

controls {
    padding: 5px;
    background-color: #222222;
    border-top: 2px solid #666666;
    display: flex;
    flex-direction: row;
}

delete,
moveup,
movedown {
    border-radius: 2px;
    text-align: center;
    line-height: 24px;
    width: 30px;
    box-sizing: border-box;
    cursor: pointer;
}

movedown, delete {
    margin-left: 2px;
}

delete:before,
moveup:before,
movedown:before {
    font-family: fontawesome;
    font-size: 12px;
}

delete {
    background-color: #de6a6a;
    border: 2px solid #de6a6a;
    color: #FFFFFF;
}

delete.disabled,
moveup.disabled,
movedown.disabled {
    background-color: #555555;
    pointer-events: none;
    color: #777777;
    border: 2px solid #555555;
}

delete:hover {
    background-color: #ed8686;
}

delete:active {
    background-color: #c75050;
}

moveup, movedown {
    color: #444444;
    background-color: #DDDDDD;
    border: 2px solid #DDDDDD;
}

moveup:hover, movedown:hover {
    background-color: #FFFFFF;
}

moveup:active, movedown:active {
    background-color: #CCCCCC;
}

delete:before {
    content: '\f1f8';
}

moveup:before {
    content: '\f062'
}

movedown:before {
    content: '\f063'
}

spacer {
    flex-grow: 1;
}

create {
    display: block;
    padding: 0px 10px;
    line-height: 24px;
    background-color: #51873e;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    border: 2px solid #51873e;
    color: #FFFFFF;
    box-sizing: border-box;
}

create:hover {
    background-color: #70a45d;
}

create:active {
    background-color: #4c6f3f;
}

create:before {
    content: '\f067';
    font-family: fontawesome;
    margin-right: 10px;
}