:host {
    padding: 5px;
    background-color: #333333;
}

list-item {
    display: block;
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    overflow-x: hidden;
    border: 2px solid #FFFFFF;
}

list-item:hover {
    background-color: #DDDDDD;
}

list-item.selected {
    border-color: #54cdff;
    background-color: #def5ff;
    pointer-events: none;
}

list-item:not(:first-child) {
    margin-top: 2px;
}