home {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
}

home > * {
    flex-basis: calc(100%/2);
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;
}

home > *:not(:first-child) {
    border-left: 3px solid #000000;
}